{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-length": "short",
    "block-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "no-duplicate-selectors": true,
    "property-no-unknown": true,
    "value-keyword-case": "lower",
    "selector-type-case": "lower"
  }
}
